Repository wolfBitfunk/mhp-mobile-code-challenge, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, app-android, feature, common, library

.github/labeler.yml:

ci:
  - .github/**/*

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md

# App Android
app-android:
  - app-android/**/*

# Feature
feature:
  - feature/**/*

# Common
common:
  - common/**/*

# Library
library:
  - library/**/*

Change ui package to presentation
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainColor.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainType.kt
Labels: app-android

Add compose navigation dependency
  gradle/libs.versions.toml
Labels: none

Add IceAndFireApp to host the basic setup in the presentation layer
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/MainActivity.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/IceAndFireApp.kt
Labels: app-android

Add test assertions
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/ExampleUnitTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/AssertionExtensions.kt
Labels: app-android

Add NavigationContract and RootDestination for navigating to house destination
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/NavigationContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/RootDestination.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/RootDestinationTest.kt
Labels: app-android

Add Kotlin reflect to jUnit test dependencies to safeguard against sealed member changes
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/RootDestinationTest.kt
  gradle/libs.versions.toml
Labels: app-android

Extract sealed member size assertion
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/RootDestinationTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/SealedClassAssertions.kt
Labels: app-android

Add HouseDestination and introduce nested destination with navigate and arguments
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseDestination.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/NavigationContract.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseDestinationTest.kt
Labels: app-android

Remove ExampleTest
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/ExampleInstrumentedTest.kt
Labels: app-android

Add placeholder views for HouseList and HouseDetail routes
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailView.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListView.kt
Labels: app-android

Add kotlin-test to androidTest and add AssertionExtensions
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/AssertionExtensions.kt
  gradle/libs.versions.toml
Labels: app-android

Add compose navigation and nested navigation graph for house routes
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/NavigationKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/IceAndFireApp.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseNavigation.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/Navigation.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add Compose test setup
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/BaseComposeTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestScreenshot.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/util/TestAssetsLoader.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/util/TestContentResolverSaver.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainColor.kt
  copy_screenshot.sh
Labels: app-android

Change NavigationKtTest to use BaseComposeTest
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/NavigationKtTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add MainTypography for Material3 and fix package name
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/IceAndFireApp.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainColor.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainType.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainTypography.kt
Labels: app-android

Add Atom PrimaryTextButton
  app-android/src/androidTest/assets/atom/PrimaryTextButton-290x140.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButtonKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButton.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListView.kt
Labels: app-android

Add MainThemeDimension and change theme name
  app-android/src/androidTest/assets/atom/PrimaryTextButton-290x140.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-306x140.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeColor.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeDimension.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeTypography.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainTypography.kt
Labels: app-android

Add AppSurface atom
  app-android/src/androidTest/assets/atom/AppSurface-1440x2308.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/AppSurfaceKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/IceAndFireApp.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/AppSurface.kt
Labels: app-android

Add ScaffoldWithTopBar to template
  app-android/src/androidTest/assets/template/ScaffoldWithTopBar-1080x2069.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBarKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBar.kt
Labels: app-android

Change titleMedium and titleSmall fontSize
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeTypography.kt
Labels: app-android

Disable dynamicColor for screenshot tests to avoid issues with changing colors
  app-android/src/androidTest/assets/atom/AppSurface-1080x2069.png
  app-android/src/androidTest/assets/atom/AppSurface-1440x2308.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-216x105.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-306x140.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/AppSurface.kt
Labels: app-android

Add font style atoms
  app-android/src/androidTest/assets/atom/BodyLarge-213x57.png
  app-android/src/androidTest/assets/atom/BodyMedium-219x49.png
  app-android/src/androidTest/assets/atom/BodySmall-158x43.png
  app-android/src/androidTest/assets/atom/HeadlineLarge-540x112.png
  app-android/src/androidTest/assets/atom/HeadlineMedium-553x98.png
  app-android/src/androidTest/assets/atom/HeadlineSmall-402x85.png
  app-android/src/androidTest/assets/atom/LabelLarge-180x49.png
  app-android/src/androidTest/assets/atom/LabelMedium-205x43.png
  app-android/src/androidTest/assets/atom/LabelSmall-152x39.png
  app-android/src/androidTest/assets/atom/TitleLarge-254x77.png
  app-android/src/androidTest/assets/atom/TitleMedium-296x71.png
  app-android/src/androidTest/assets/atom/TitleSmall-216x63.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/BodyTextKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/HeadlineTextKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/LabelTextKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/TitleTextKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/BodyText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/HeadlineText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/LabelText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/TitleText.kt
Labels: app-android

Add CardHeader
  app-android/src/androidTest/assets/molecule/CardHeader-281x71.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardHeaderKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardHeader.kt
Labels: app-android

Add CardItem
  app-android/src/androidTest/assets/atom/CardItem-996x155.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/CardItemKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestScreenshot.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/CardItem.kt
Labels: app-android

Remove PrimaryTextButton
  app-android/src/androidTest/assets/atom/PrimaryTextButton-216x105.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButtonKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButton.kt
Labels: app-android

Add feature resources and Scaffold to HouseListView
  app-android/build.gradle.kts
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListView.kt
  app-android/src/main/res_feature/house/values/strings.xml
Labels: app-android

Fix screenshot
  app-android/src/androidTest/assets/atom/AppSurface-1080x2069.png
  app-android/src/androidTest/assets/organism/CardItem-996x155.png
  app-android/src/androidTest/assets/template/ScaffoldWithTopBar-1080x2069.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/CardItemKtTest.kt
Labels: app-android

Disable lint warnings as error
  app-android/build.gradle.kts
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add base House entity
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/House.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/HouseTest.kt
Labels: app-android

Add result object to domain
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/Result.kt
Labels: app-android

Add repository definition
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
Labels: app-android

Add PaginationService
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/PaginationService.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/PaginationServiceTest.kt
Labels: app-android

Add coroutines test dependency
  gradle/libs.versions.toml
Labels: none

Add GetHousesPaginatedUseCase
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCase.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/Result.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/House.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCaseTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/HousesRepositoryMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/PaginationServiceMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add data layer contract
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSource.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRepository.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/HouseResponse.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSourceTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRepositoryTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation
