Repository wolfBitfunk/mhp-mobile-code-challenge, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, app-android, feature, common, library

Add HttpClient
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClient.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClientTest.kt
Labels: app-android

Add HttpsUrlConnectionFactory to create GET request
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpsUrlConnectionFactory.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpsUrlConnectionFactoryTest.kt
Labels: app-android

Add HTTP client implementation
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClient.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/Result.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClientTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpsUrlConnectionMock.kt
Labels: app-android

Fix Accept request property
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpsUrlConnectionFactory.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpsUrlConnectionFactoryTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add API contract and network entities
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/BookResponse.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/CharacterResponse.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/HouseResponse.kt
Labels: app-android

Add base IceAndFireApi test setup
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApi.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClientMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiTest.kt
Labels: app-android

Add IceAndFireAPI check for url and http client usage
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApi.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClientMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiTest.kt
Labels: app-android

Add JsonParser to IceAndFireApi
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApi.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserMock.kt
Labels: app-android

Refactor IceAndFireApi and its mock to reduce repeated code
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApi.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserMock.kt
Labels: app-android

Add JsonParser and Roboletric to be able to test org.json.* from Android
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParser.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/CharacterResponse.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/HouseResponse.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserTest.kt
  gradle/libs.versions.toml
Labels: app-android

Add HouseTestFixture to include real world example
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/HouseResponseTestFixture.kt
Labels: app-android

Add CharacterTestFixture to include real world example
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/CharacterResponseTestFixture.kt
Labels: app-android

Add BookTestFixture to include real world example and add JsonParser book support
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParser.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/BookResponseTestFixture.kt
Labels: app-android

Add success tests for IceAndFireApi and check for correct jsonParser use
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClientMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/JsonParserMock.kt
Labels: app-android

Add network security config to AndroidManifest to ensure HTTPS connections
  app-android/src/main/AndroidManifest.xml
  app-android/src/main/res/xml/network_security_config.xml
Labels: app-android

Add paging parameters to api
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApi.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/HttpClientTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add HousesRemoteDataSource
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSource.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSourceTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiMock.kt
Labels: app-android

Add mapper to HousesRemoteDataSource
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSource.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapper.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSourceTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapperMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTestFixture.kt
Labels: app-android

Add Identifier to domain
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/House.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/Identifier.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTestFixture.kt
Labels: app-android

Add HousesMapper
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapper.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/Result.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapperTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/IdentifierMapperMock.kt
Labels: app-android

Add IdentifierMapper
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/IdentifierMapper.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/IdentifierMapperTest.kt
Labels: app-android

Add remote data source to HousesRepository
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSourceMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRepositoryTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add DiContract and Injector to inject use cases into view models
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/DiContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/Injector.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/InjectorTest.kt
Labels: app-android

Add internal injector to satisfy use case dependencies
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/DiContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/Injector.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/InjectorInternalTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/InjectorTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Change Identifier id to value to prevent id.id concatenation
  CHANGELOG.md
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/IdentifierMapper.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/Identifier.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/IdentifierMapperTest.kt
Labels: documentation, app-android

Fix pagination starting from 1 and not 0
  CHANGELOG.md
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/PaginationService.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/PaginationServiceTest.kt
Labels: documentation, app-android

Bump Compose Material 3 1.0.0-rc01 -> 1.0.0
  gradle/libs.versions.toml
Labels: none

Add reset to GetHousesPaginatedUseCase
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCase.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCaseTest.kt
Labels: app-android

Change HouseDetail destination argument to string and remove BaseComposeTest
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBarKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/NavigationKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/BaseComposeTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseDestination.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseNavigation.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseDestinationTest.kt
Labels: app-android

Add PrimaryTextButton again
  app-android/src/androidTest/assets/atom/PrimaryTextButton-216x105.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButtonKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButton.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeDimension.kt
Labels: app-android

Cleanup
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/AppSurfaceKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButtonKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/CardItemKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBarKtTest.kt
Labels: app-android

Add ErrorItem and CardBody
  app-android/src/androidTest/assets/molecule/CardBody-161x49.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x372.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x393.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButtonKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardBodyKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/CardItemKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/ErrorItemKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButton.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardBody.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/ErrorItem.kt
  app-android/src/main/res/values/strings.xml
Labels: app-android

Add HouseListContract
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContract.kt
Labels: app-android

Add HouseListViewModelFactory
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailView.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModel.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelFactory.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelFactoryTest.kt
Labels: app-android

Add MainDispatcherRule for testing ViewModels
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelFactoryTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/MainDispatcherRule.kt
Labels: app-android

Change CardBody to BodyLarge
  app-android/src/androidTest/assets/molecule/CardBody-161x49.png
  app-android/src/androidTest/assets/molecule/CardBody-194x57.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x372.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x393.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x401.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/ErrorItemKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardBody.kt
Labels: app-android

.github/labeler.yml:

ci:
  - .github/**/*

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md

# App Android
app-android:
  - app-android/**/*

# Feature
feature:
  - feature/**/*

# Common
common:
  - common/**/*

# Library
library:
  - library/**/*
