Repository wolfBitfunk/mhp-mobile-code-challenge, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, app-android, feature, common, library

.github/labeler.yml:

ci:
  - .github/**/*

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md

# App Android
app-android:
  - app-android/**/*

# Feature
feature:
  - feature/**/*

# Common
common:
  - common/**/*

# Library
library:
  - library/**/*

Add MainThemeWithSurface to show dark composable preview properly
  app-android/src/androidTest/assets/atom/BodyLarge-213x57.png
  app-android/src/androidTest/assets/atom/BodyMedium-219x49.png
  app-android/src/androidTest/assets/atom/BodySmall-158x43.png
  app-android/src/androidTest/assets/atom/HeadlineLarge-540x112.png
  app-android/src/androidTest/assets/atom/HeadlineMedium-553x98.png
  app-android/src/androidTest/assets/atom/HeadlineSmall-402x85.png
  app-android/src/androidTest/assets/atom/LabelLarge-180x49.png
  app-android/src/androidTest/assets/atom/LabelMedium-205x43.png
  app-android/src/androidTest/assets/atom/LabelSmall-152x39.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-216x105.png
  app-android/src/androidTest/assets/atom/TitleLarge-254x77.png
  app-android/src/androidTest/assets/atom/TitleMedium-296x71.png
  app-android/src/androidTest/assets/atom/TitleSmall-216x63.png
  app-android/src/androidTest/assets/molecule/CardBody-194x57.png
  app-android/src/androidTest/assets/molecule/CardHeader-281x71.png
  app-android/src/androidTest/assets/organism/CardItem-996x155.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x401.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/AppSurfaceKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButtonKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/ErrorItemKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/IceAndFireApp.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/AppSurface.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/BodyText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/HeadlineText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/LabelText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/PrimaryTextButton.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/atom/TitleText.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardBody.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/molecule/CardHeader.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/CardItem.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/ErrorItem.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBar.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainTheme.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeColor.kt
Labels: app-android

Add basic HouseListViewModelTest
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapper.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModel.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRepositoryTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapperTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/SealedClassAssertions.kt
Labels: app-android

Add HouseListViewStateTest
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewState.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewStateTest.kt
Labels: app-android

Add Log implementation for JUnit test
  app-android/src/test/java/android/util/Log.kt
Labels: app-android

Add Compose Lifecycle ViewModel dependency
  gradle/libs.versions.toml
Labels: none

Add StateFlowTestBuilder to easily record ViewModel StateFlow emits
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/StateFlowTestBuilder.kt
Labels: app-android

Add HouseListViewModel
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModel.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCaseMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTestFixture.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseDestinationTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelFactoryTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/navigation/RootDestinationTest.kt
Labels: app-android

Change HouseListView to HouseListScreen to host wiring and HouseListContent for view definition
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/organism/ErrorItemKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBarKtTest.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseNavigation.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseCardItem.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContent.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListScreen.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListView.kt
Labels: app-android

Add HouseListScreen test
  app-android/src/androidTest/assets/feature/HouseListScreenContent-1080x2069.png
  app-android/src/androidTest/assets/feature/HouseListScreenError-1080x2069.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/design/template/ScaffoldWithTopBarKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListScreenKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelMock.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContent.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListScreen.kt
Labels: app-android

Add HouseCardItem test
  app-android/src/androidTest/assets/feature/HouseCardItem-996x155.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseCardItemKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/fixture/HouseTestFixture.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseCardItem.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Change IceAndFireApi id to string
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApi.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/IceAndFireApiTest.kt
Labels: app-android

Add getHouse to HousesRemoteDataSource
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/DataContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSource.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSourceMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRemoteDataSourceTest.kt
Labels: app-android

Add getHouse to HousesRepository
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRepository.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/HousesRepositoryTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/HousesRepositoryMock.kt
Labels: app-android

Add GetHouseByIdUseCase
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/DomainContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHouseByIdUseCase.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHouseByIdUseCaseTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCaseTest.kt
Labels: app-android

Add GetHouseByIdUseCase to dependency injection
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/DiContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/Injector.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/di/InjectorTest.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add HouseDetailContract
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContract.kt
Labels: app-android

Add HouseDetailViewModelFactory
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModel.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModelFactory.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHouseByIdMock.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModelFactoryTest.kt
Labels: app-android

Add HouseDetailViewState
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewState.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModelFactoryTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewStateTest.kt
Labels: app-android

Add HouseDetailViewModel
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContract.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModel.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/GetHousesPaginatedUseCaseTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModelTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelTest.kt
Labels: app-android

Add HouseDetailScreen to replace HouseDetailView
  app-android/src/androidTest/assets/feature/HouseDetailScreenContent-1080x2069.png
  app-android/src/androidTest/assets/feature/HouseDetailScreenError-1080x2069.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailScreenKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModelMock.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListScreenKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/fixture/HouseTestFixture.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/HouseNavigation.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContent.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailScreen.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailView.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContent.kt
  app-android/src/main/res_feature/house/values/strings.xml
Labels: app-android

Add HouseDetailContent and HouseDetailRowItem to display house information
  app-android/src/androidTest/assets/atom/LabelLarge-180x49.png
  app-android/src/androidTest/assets/atom/LabelLarge-226x57.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-216x105.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-236x105.png
  app-android/src/androidTest/assets/feature/HouseListScreenError-1080x2069.png
  app-android/src/androidTest/assets/organism/ErrorItem-996x401.png
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContent.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContentRowItem.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailScreen.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModel.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/theme/MainThemeTypography.kt
  app-android/src/main/res_feature/house/values/strings.xml
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailViewModelTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListViewModelTest.kt
Labels: app-android

Add more properties to House and fix data mapping issues
  app-android/src/androidTest/assets/feature/HouseDetailScreenContent-1080x2069.png
  app-android/src/androidTest/assets/feature/HouseListScreenContent-1080x2069.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailScreenKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListScreenKtTest.kt
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/test/fixture/HouseTestFixture.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapper.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/House.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContent.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/detail/HouseDetailContentRowItem.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseCardItem.kt
  app-android/src/main/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseListContent.kt
  app-android/src/main/res_feature/house/values/strings.xml
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/mapper/HousesMapperTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/data/network/response/HouseResponseTestFixture.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTest.kt
  app-android/src/test/java/com/wolfmontwe/mhp/challenge/mobile/android/app/domain/entity/HouseTestFixture.kt
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add logo in readme
  README.md
  assets/logo.png
Labels: documentation

Add app icon
  app-android/src/main/ic_launcher-playstore.png
  app-android/src/main/res/drawable-v24/ic_launcher_foreground.xml
  app-android/src/main/res/drawable/ic_launcher_background.xml
  app-android/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app-android/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app-android/src/main/res/mipmap-hdpi/ic_launcher.png
  app-android/src/main/res/mipmap-hdpi/ic_launcher.webp
  app-android/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  app-android/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app-android/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app-android/src/main/res/mipmap-mdpi/ic_launcher.png
  app-android/src/main/res/mipmap-mdpi/ic_launcher.webp
  app-android/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  app-android/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app-android/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app-android/src/main/res/mipmap-xhdpi/ic_launcher.png
  app-android/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app-android/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  app-android/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app-android/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app-android/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app-android/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app-android/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  app-android/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app-android/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app-android/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app-android/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app-android/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  app-android/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app-android/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app-android/src/main/res/values/ic_launcher_background.xml
Labels: app-android

Add debug app icon
  app-android/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
  app-android/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app-android/src/debug/res/mipmap-hdpi/ic_launcher.png
  app-android/src/debug/res/mipmap-hdpi/ic_launcher_foreground.png
  app-android/src/debug/res/mipmap-hdpi/ic_launcher_round.png
  app-android/src/debug/res/mipmap-mdpi/ic_launcher.png
  app-android/src/debug/res/mipmap-mdpi/ic_launcher_foreground.png
  app-android/src/debug/res/mipmap-mdpi/ic_launcher_round.png
  app-android/src/debug/res/mipmap-xhdpi/ic_launcher.png
  app-android/src/debug/res/mipmap-xhdpi/ic_launcher_foreground.png
  app-android/src/debug/res/mipmap-xhdpi/ic_launcher_round.png
  app-android/src/debug/res/mipmap-xxhdpi/ic_launcher.png
  app-android/src/debug/res/mipmap-xxhdpi/ic_launcher_foreground.png
  app-android/src/debug/res/mipmap-xxhdpi/ic_launcher_round.png
  app-android/src/debug/res/mipmap-xxxhdpi/ic_launcher.png
  app-android/src/debug/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  app-android/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.png
  app-android/src/debug/res/values/ic_launcher_background.xml
Labels: app-android

Add changelog entry
  CHANGELOG.md
Labels: documentation

Add screenshots for Pixel XL and usage description
  README.md
  app-android/src/androidTest/assets/atom/AppSurface-1440x2308.png
  app-android/src/androidTest/assets/atom/BodyLarge-283x76.png
  app-android/src/androidTest/assets/atom/BodyMedium-299x66.png
  app-android/src/androidTest/assets/atom/BodySmall-213x57.png
  app-android/src/androidTest/assets/atom/HeadlineLarge-718x150.png
  app-android/src/androidTest/assets/atom/HeadlineMedium-741x131.png
  app-android/src/androidTest/assets/atom/HeadlineSmall-539x112.png
  app-android/src/androidTest/assets/atom/LabelLarge-295x76.png
  app-android/src/androidTest/assets/atom/LabelMedium-280x57.png
  app-android/src/androidTest/assets/atom/LabelSmall-207x52.png
  app-android/src/androidTest/assets/atom/PrimaryTextButton-311x140.png
  app-android/src/androidTest/assets/atom/TitleLarge-343x103.png
  app-android/src/androidTest/assets/atom/TitleMedium-401x93.png
  app-android/src/androidTest/assets/atom/TitleSmall-289x85.png
  app-android/src/androidTest/assets/feature/HouseCardItem-1328x205.png
  app-android/src/androidTest/assets/feature/HouseDetailScreenContent-1440x2308.png
  app-android/src/androidTest/assets/feature/HouseDetailScreenError-1440x2308.png
  app-android/src/androidTest/assets/feature/HouseListScreenContent-1440x2308.png
  app-android/src/androidTest/assets/feature/HouseListScreenError-1440x2308.png
  app-android/src/androidTest/assets/molecule/CardBody-258x76.png
  app-android/src/androidTest/assets/molecule/CardHeader-380x93.png
  app-android/src/androidTest/assets/organism/CardItem-1328x205.png
  app-android/src/androidTest/assets/organism/ErrorItem-1328x533.png
  app-android/src/androidTest/assets/template/ScaffoldWithTopBar-1440x2308.png
  app-android/src/androidTest/java/com/wolfmontwe/mhp/challenge/mobile/android/app/presentation/feature/house/list/HouseCardItemKtTest.kt
Labels: documentation, app-android

Add description of provided solution
  README.md
Labels: documentation

Fix spelling
  README.md
Labels: documentation
